

/* .container{
    margin:0 9px, 3px, 1px;
} */

.img-logo{
    width: 190px;
}

.nav-toggle{
    padding-top: 10px;
    margin-left: 17px;
    padding-right: 70px;
}

nav{
    display: flex;
    justify-content: space-between;
    float: left;
    align-items: center;
    padding-bottom: 20px;
}

.nav-item{
    background-color: #b0b0b0;
    height: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

a.nav-link{
    color: white;
}

a.nav.link-dark {
    color: #0d2341;
}

.btn {
    background: transparent;
    color: #0d2341;
}

.navbar-link {
    position: absolute;
    left: 340px;
    top: 25px;
}
#beranda {
     background-color: #0d2341;
     height: 35px;
 }

.slider {
     font: 600;
 }

.img-thumbnail {
	width: 250px;
}
 .slide {
     padding-bottom: 10px;
 }

.berita {
    font-family: 'Oswald', sans-serif;
}

.text-berita {
    font-family: 'Montserrat', sans-serif;
}

.card-img {
    
}