* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5 px 10%;
}

/* NAVBAR */
.img-logo{
    width: 210px;
}

.nav-toggle{
    padding-top: 10px;
    margin-left: 17px;
    padding-right: 70px;
    margin-bottom: 30px;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    float: left;
    align-items: center;
    padding-bottom: 20px;
}

.nav-item{
    background-color: #b0b0b0;
    height: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

a.nav-link{
    color: white;
}

a.nav-link:hover{
  color: orange;
}

.btn {
    font-weight: bold;
    color: #0d2341;
}

.btn:hover{
  color: orange;
}

.navbar-link ul{
  list-style: none;
}

.navbar-link {
    position: absolute;
    text-align: center;
    left: 340px;
    top: 25px;
}

.navbar-link li:hover{
  background: darkblue;
}

.navbar-link > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background: #262626;
  color: #fff;
}

.navbar-link > ul > li{
  position: relative;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  height: 40px;
}

/* .dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
} */

.dropdown li{
  background: #f25624;
}

.dropdown li:hover{
  background: #5a5a5a;
}
/* End Navbar */

/* start Search engine */
.search-engine{
  padding-top: 0.15%;
  padding-bottom: 2.5%;
  padding-right: 7%;
}

.input{
  position: relative;
	width: 220px;
	height: 40px;
  padding: 10px 20px;
	border-radius: 10px;
	font-size: 10px;
  color: #fff;
  background-color: #fff;
}

#fas-search:hover{
  background-color: darkblue;
  color: #f25624;
}
/* end Search Engine */

/* slider */
 .carousel-item{
   height: 30rem;
   background: #777;
   color: white;
   position: relative;
   height: 30%;
   /* margin-bottom: 12%; */
 }

 .container{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding-bottom: 50px;
 }
/* end slider */

/* APA ITU VOKASI */
.text-content{
  margin-top: 8%;
}

#text-blue {
    color: #0d2341;
}

#text-orange {
    color: #f25624;
}

#text-black {
    color: black;
}

.what {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 72px;
    font-style: inherit;
}

.pengertian {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.text-daftar {
    font-size: 50px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
}

.text-lihat {
    font-size: 50px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
}

/* end APA ITU VOKASI */



