* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5 px 10%;
}

/* NAVBAR */
.img-logo{
    width: 210px;
    cursor: pointer;
}

.nav-toggle{
    padding-top: 10px;
    margin-left: 17px;
    padding-right: 70px;
    margin-bottom: 13px;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    float: left;
    align-items: center;
    padding-bottom: 0px;
}

.nav-item{
    background-color: #b0b0b0;
    height: 35px;
}

a.nav-link{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

a.nav-link:hover{
  color: orange;
}

.btn {
    font-weight: bold;
    color: #0d2341;
    font-family: 'Josefin Sans', sans-serif;
}

.btn:hover{
  color: orange;
}

.navbar-link ul{
  list-style: none;
}

.navbar-link {
    position: absolute;
    text-align: center;
    left: 300px;
    top: 23px;
}

.navbar-link li:hover{
  background: darkblue;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.navbar-link > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background: #262626;
  color: #fff;
}

.navbar-link > ul > li{
  position: relative;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  height: 40px;
  text-align: center;
}

/* .dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
} */

/* .dropdown li{
  background: #f25624;
}

.dropdown li:hover{
  background: #5a5a5a;
} */
/* End Navbar */

/* start Search engine */
.search-engine{
  padding-top: 0.15%;
  padding-bottom: 2.5%;
  padding-right: 5%;
}

.input{
  position: relative;
  width: 220px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 10px;
  color: #0d2341;
  background-color: #fff;
}

.btn-search{
  z-index: 1;
  cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-search:hover{
  background-color: transparent;
}
/* end Search Engine */


#title-berita {
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
}

.berita {
  padding: 30px;
  margin: 10px 0px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 23px;
}

.gambar-berita {
  width: 210px;
}

.txt-berita1 {
  font-size: 12px;
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: 15px;
}

.txt-berita2 {
  font-size: 12px;
  color: #262626;
}

.txt-berita3 {
  font-size: 12px;
  color: #262626;
}

.txt-berita4 {
  font-size: 12px;
  color: #262626;
}

#see-more {
  font-family: 'Josefin Sans', sans-serif;
  font-style: initial;
  font-size: 20px;
}
/* End Berita */

/* APA ITU VOKASI */
#text-blue {
    color: #0d2341;
}

#text-orange {
    color: #f25624;
}

#text-black {
    color: black;
}

.what {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 72px;
    font-style: inherit;
    padding-top: 50px;
    font-weight: bolder;
}

.pengertian {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.text-daftar {
    font-size: 50px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    
}

.text-lihat {
    font-size: 50px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
}

/* slider */
  .slider{
    padding-top: 75px;  
    margin-bottom: 70px;
    width: 800px;
    height: 500px;
    border-radius: 0;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    height: 540px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: left;
    background-image: url(img/slider.jpg);
    background-size: cover;
    width: 100%;
    height: 540px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    padding-right: 120px;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding-top: 10px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }

  @media screen and ( min-width: 768px ) {
    /* half-width cells for larger devices */
    .mySlides { width: 100%; }
  }
  
  /* Add an italic font style to all quotes */
  p .mySlides {
      color: #f25624;
      text-align: left;
      font-size: 20px;
      padding-left: 200px;
      font-family: 'Roboto', sans-serif;
    }
  
  /* Add a blue color to the author */
  .author {
    color: #fff;
    padding-left: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Allerta', sans-serif;
  }

  .vokasi-info{
    padding-left: 200px;
    color: #f25624;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }

  .click {
    color: #888;
    padding-left: 200px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
  }

.click:hover{
  color: #717171;
}
/* End Slider */

/* Cara Mendaftar */
.row {
  border: 1px transparent;
}

.tata-cara {
  padding: 30px;
  margin: 10px 0px;
  text-align: center;
}

.click-tata-cara{
  text-decoration: underline;
  font-style: italic;
}

.img-tata-cara1 {
  width: 200px;
}

.txt-tata-cara1 {
  font-size: 13px;
}

.img-tata-cara2 {
  width: 300px;
}

.txt-tata-cara2 {
  font-size: 13px;
}

.img-tata-cara3 {
  width: 200px;
}

.txt-tata-cara3 {
  font-size: 13px;
}

.daftar-mitra-industri {
  border: 10px;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.btn.btn-primary {
  width: 90%;
  border-radius: 25px;
  margin-left: 10%;
}

.btn.btn-danger{
  width: 90%;
  border-radius: 25px;
  margin-right: 10%;
}

.daftar-mitra-smk {
  border: 10px;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#industri {
  color: #f25624;
  background-color: #0d2341;
  font-family: 'Montserrat', sans-serif;
}

#smk {
  color: #0d2341;
  background-color: #f25624;
  font-family: 'Montserrat', sans-serif;
}

/* End Cara Mendaftar */


/* Acara dan Pelatihan */
.acara-pelatihan {
  padding-top: 50px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}
/* End Acara dan Pelatihan */

/* E-Learning */
.img-learning {
  width: 1350px;
  padding-top: 80px;
  top: 0px;
  padding-bottom: 100px;
}

.e-text h2{
  position: relative;
}

.e-click{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.e-click:hover{
  color: #888;
}

.e-text{
  position: absolute;
  top: 2560px;
  padding-left: 620px;
  color: #fff;
}

.e-login{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.e-join{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  line-height: 1.2;
}

.e-daftar{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.btn.btn-warning{
  color: #fff;
  background-color: #f25624 ;
  width: 100%;
  border-color: #f25624;
}
/* End E-Learning */


/* Footer */
.footer-logo{
  width: 400px;
  background-color: #888;
  height: 150px;
}

.footer-contact{
  width: 900px;
  position: relative;
}

.contact{
  position: absolute;
  top: 3085px;
  color: #fff;
}

.contact-us{
  text-align: center;
  padding-left: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #f25624;
  font-size: 35px;
}

.kontak{
  padding-left: 100px;
}
.logo-email{
  width: 40px;
}

.logo-phone{
  width: 40px;
}

.txt-email{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.txt-phone{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
/* End Footer */


/* script menghilangkan Horizontal Scroll */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}